<div class="ngdialog-title">创建文件夹</div>
<br>
    <div class="row">
       <form id="folder_form" class="form-horizontal">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				    文件夹名称：<input type="text" id="folderName" name="folderName" ng-model="folderName" class="form-control" style="display: inline-block;width: 200px;">
                    <br>
                    <br>
                </div>
            	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    
                        <button type="submit" class="btn btn-success">确认</button>
                    
                        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
                    
                </div>
			</div>
        </div>
      </form>
    </div>