<div class="ngdialog-title">移动到</div>
<br>
    <div class="row">
       <form id="folder_form" class="form-horizontal">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center teacher_grid_lay">

                    <div class="scroll_lay" ng-iscroll='wrapper' ng-iscroll-delay='0'>
                        <div class="row teacher_grid target_tree">
                            正在加载...
                        </div>
                    </div>
                    
                </div>
            	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    
                        <button type="submit" class="btn btn-success" ng-click="submit()">确认</button>
                    
                        <button type="button" class="btn btn-default" ng-click="closeThisDialog()">取消</button>
                    
                </div>
			</div>
        </div>
      </form>
    </div>