<script src="lib/jquery/jquery.validate.min.js"></script>
<script src="lib/jquery/additional-methods.min.js"></script>
<div class="ngdialog-title" ng-bind="title"></div>
<br>
<div class="row" id="dialog" >
   <form id="teacheradd_form" class="form-horizontal">

        <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-push-1 col-sm-push-1 col-md-push-1 col-lg-push-1">
                    <label for="remark" class="control-label">意见和建议:</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                        <textarea name="remark" id="remark" class="form-control" rows="5"  ng-model="record.feedback"></textarea>
       
                </div>
        </div>

        <div class="row">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xs-push-1 col-sm-push-1 col-md-push-1 col-lg-push-1">
            <br>
                感谢您的宝贵建议！谢谢
            </div>
        </div>
        <div class="row form-group-last">
            <!-- <label class="col-lg-4 col-sm-5 control-label">111</label> -->
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-push-5 col-sm-push-5 col-md-push-5 col-lg-push-5">
                <button type="submit" class="btn btn-primary submit" ng-click="submit">提 交</button>
            </div>
        </div>
    </form>       
</div>
<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->      
