
<div class="search-form row">
    <ul id="myTab" class="nav nav-tabs">
   
        <li  role="presentation"  class="active">
            <a role="tab" ng-click="change(1)"  data-toggle="tab">宿舍楼管理</a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    <br>
        <div>
                    <div class="row pad1">
                        <div class="col-sm-2 search-form pull-left">
                            <div class="btn-group pull-left">
                                <a ng-click="add_module()" class="btn btn-block btn-success btn-sm row1">添加宿舍楼</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                                   
                        <table class="table table-mailbox">
                            <tbody>
                                <tr class="unread">
                                    <td class="small-col">
                                    </td>
                                    <td class="subject">宿舍楼名称</td>
                                    <td class="subject">楼房/平房</td>
                                    <td class="subject">总层数</td>
                                    <td class="subject">宿管名称</td>
                                    <td class="subject">创建时间</td>
                                    
                                    
                                    <td class="opt">操作</td>
                                </tr>
                                <tr ng-repeat="item in pageInfo.list">
                                    <td class="small-col v-middle">
                                    </td>
                                    <!-- <td class="subject v-middle">{{item.roomName}}</td> -->
                                    <td class="subject v-middle">{{item.houseName}}</td>
                                    <td class="subject v-middle">
                                        <span ng-show="item.houseType == true">楼房</span>
                                        <span ng-show="item.houseType == false">平房</span>
                                    </td>
                                    <td class="subject v-middle">{{item.houseFloor}}</td>
                                    <td class="subject v-middle">{{item.houseMaster}}</td>
                                    <td class="subject v-middle">{{item.createTime}}</td>
                                    
                                   
                                    <td class="opt v-middle">
                                       
                                       <button class="btn btn-danger" ng-click="open_confrim(item.id)" >删除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-include="'template/module/tpl/pageInfo.html'"></div>
                    </div>

            <!-- toaster directive -->
            <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
            <!-- / toaster directive -->                   
        </div>
                        
    </div>
</div>        


