<link rel="stylesheet" href="template/module/teachermanage/teacher.css">
<div class="row pad">
    <div class="col-sm-4">
        <label style="margin-right: 10px;" class="">
            <div class="icheckbox_minimal-blue" ng-click="select_all()" ng-class="{checked:s_all==true}"
                 style="position: relative;"><input type="checkbox" id="check-all"
                                                    style="position: absolute; opacity: 0;"></div>
        </label>
        <!-- Action button -->
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                操作 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="del()">删除</a></li>
            </ul>
        </div>

    </div>
    <div class="col-sm-5 search-form">
        <!-- <form ng-submit="search()" class="text-right">
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="param.keyword" placeholder="Search">
                <div class="input-group-btn">
                    <button type="submit" name="q" class="btn btn-sm btn-success"><i class="fa icon-search"></i>
                    </button>
                </div>
            </div>
        </form> -->
    </div>
    <div class="col-sm-2">
        <a ui-sref="main.shelf.shelfadd({roomId:roomId})" class="btn btn-success pull-right">添加书架</a>
    </div>
    <div class="col-sm-1">
        <a ui-sref="main.library.libraryList" class="btn btn-success pull-right">返回</a>
    </div>

</div>
<div class="row pad">
<div class="table-responsive">
    <table class="table table-mailbox">
        <tbody>
        <tr class="unread">
            <td class="small-col">
                <div></div>
            </td>
            <td class="number">编号</td>
            <td class="types">归档分类</td>
            <td class="opt">操作</td>
        </tr>
        <tr ng-repeat="item in pageInfo.list">
            <td class=" v-middle">
                <div class="icheckbox_minimal-blue" ng-class="{checked:$parent.pageInfo.list[$index].selected}"
                     ng-click="select_per($index)" style="position: relative;"><input type="checkbox"
                                                                                      style="position: absolute; opacity: 0;">
                </div>
            </td>
            <td class="number v-middle">{{item.number}}</td>
            <td class="types v-middle">{{item.typeNames}}</td>
            <td class="opt v-middle">
                <a ui-sref="main.shelf.shelfedit({roomId:roomId,id:item.id})" class="btn-primary btn btn-sm">编辑</a>
                <a ng-click="del(item.id)" class="btn-danger btn btn-sm">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-include="'template/module/tpl/pageInfo.html'"></div>
</div>
</div>
<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->