

<!-- 导航条 -->
<div class="bg-white bread-crumb">
	<ul class="breadcrumb b-a m-b-n-xs lter b-b wrapper-md">
		<li>
			<a ui-href="main"> <i class="fa fa-home"></i>
				首页
			</a>
		</li>
		<li class="active" ng-bind="title"></li>
	</ul>
</div>

<!-- 加载提醒 -->
<div ng-show="loading" class="text-center m-t-md text-lg"> <i class="fa fa-spin fa-spinner"></i>
	数据加载中...
</div>

<!-- 内容区域 -->
<div class="wrapper-md content">
	<div class="panel panel-default">
		<!-- 头部 -->
		<div class="panel-heading font-bold">
			{{title}}
			<a class="btn btn-sm btn-icon btn-rounded btn-default pull-right m-t-n-xs" ui-sref="main.app.appmanage.applist({id: params.pid,name:params.name,appType:params.appType})">
				<i class="text-md fa fa-times text-muted"></i>
			</a>
		</div>
		<!--表单-->
		<div class="panel-body">
			<form class="form-horizontal"  name="user_form">
				<!--用户名-->
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="name">
						<span class="text-danger wrapper-sm">*</span>
						应用名称
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="name" id="name" ng-model="record.name" placeholder="请输入应用名称..."></div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="identify">
						<span class="text-danger wrapper-sm">*</span>
						应用标识
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="identify" id="identify" ng-model="record.identify" placeholder="请输入应用标识..."></div>
				</div>


				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="type">
						<span class="text-danger wrapper-sm">*</span>
						应用类型
					</label>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<select name="type" id="type" class="form-control" ng-model="record.type" ng-options="value.code-0 as value.codeText for value in type">
									<option value="">选择</option>
								</select>
							</div>
						</div>
						</div>
				</div>


				<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="type">
						<span class="text-danger wrapper-sm">*</span>
						授权对象
					</label>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<select name="apptype" id="apptype" class="form-control" ng-model="record.appType" ng-options="v.id+0 as v.name for (k,v) in appType" disabled="" style="background: #999">
									<option value="">选择</option>
								</select>
							</div>
						</div>
						</div>
				</div>


				<div class="line line-dashed b-b line-lg pull-in"></div>

				
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="url">
						<span class="text-danger wrapper-sm">*</span>
						URL
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="url" id="url" ng-model="record.url" placeholder="请输入URl...">
						</div>
				</div>


				<div class="line line-dashed b-b line-lg pull-in"></div>

				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="icon">
						<span class="text-danger wrapper-sm">*</span>
						小图标Class
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="icon" id="icon" ng-model="record.icon" placeholder="请输入图标..."></div>
				</div>


				<div class="line line-dashed b-b line-lg pull-in"></div>
				
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="icon">
						<span class="text-danger wrapper-sm">*</span>
						PC端图标
					</label>
					<div class="col-sm-3">
						<img ng-src="{{record.imgUrl}}" width="100"  height="100" alt="">
						<div class="btn btn-gray btn-single btn-block" ngf-select="onFileSelect($files)">添加图标</div>
					</div>
				</div>


				<div class="line line-dashed b-b line-lg pull-in"></div>
				
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="icon">
						<span class="text-danger wrapper-sm">*</span>
						移动端图标
					</label>
					<div class="col-sm-3">
						<img ng-src="{{record.imgUrlApp}}" width="100"  height="100" alt="">
						<div class="btn btn-gray btn-single btn-block" ngf-select="onFileSelect1($files)">添加图标</div>
					</div>
				</div>


				<div class="line line-dashed b-b line-lg pull-in"></div>


				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="remark">
						<span class="text-danger wrapper-sm">*</span>
						简介
					</label>
					<div class="col-sm-6">
						<textarea name="remark" id="remark" class="form-control" ng-model="record.remark" rows="3" ></textarea>
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<!--btn-->
				<div class="form-group">
					<div class="col-sm-6 col-sm-offset-2">
						<!-- <button type="reset" class="btn btn-default w-xs">重置</button> -->
						<button type="submit" class="btn btn-info w-xs m-l-xl" >保存</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>