  <script src="lib/jquery/jquery.validate.min.js"></script>
  <script src="lib/jquery/additional-methods.min.js"></script>  
<div class="row pad add_new">
    <form id="homewordadd_form" class="form-horizontal">
        <legend ng-bind="title"></legend>
    
        <div class="form-group">
            <label for="title" class="col-lg-2 col-sm-3 control-label">作业名称</label>
            <div  class="col-sm-9">
            <input type="text" class="form-control" id="title" name="title" placeholder="" required="required" ng-model="record.title">
            </div>
        </div>
        
       
        <div class="form-group">
            <label for="title" class="col-lg-2 col-sm-3 control-label">科目</label>
            <div  class="col-sm-9">
                <div ng-hide="subjects.length>0">
                     没有教授的科目！
                </div>
                <span ng-repeat="(key, value) in subjects">
                    <input type="radio" name="km" ng-checked="$parent.record.subject.id==value.id"  ng-click="select_km(value.id)"> {{value.name}} 
                </span>
            </div>
        </div>
        
        
        <div class="form-group">
            <label for="remark"  class="col-lg-2 col-sm-3 control-label">内容</label>
            <div  class="col-sm-9">
                <div name="content" class="include_editor"  ng-model="record.content" config="_simpleConfig" required></div>
            </div>
            <div class="editor-js"></div>
        </div>
        <div class="form-group">
            <label for="content"  class="col-lg-2 col-sm-3 control-label"></label>
            <div  class="col-sm-9">
                <button type="submit" class="btn btn-primary" ng-show="subjects.length>0">提交</button>
            </div>
        </div>
    </form>
</div>
<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->