  <script src="lib/jquery/jquery.validate.min.js"></script>
  <script src="lib/jquery/additional-methods.min.js"></script>  
<div class="row pad add_new">
    <form id="homewordadd_form" class="form-horizontal">
        <legend >添加题目</legend>
    
        <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label" for="address">
                        <span class="text-danger wrapper-sm">*</span>
                        试题难度
                    </label>
                    <div class="col-sm-6">
                        <select name="rank" id="rank" class="form-control" ng-options="value.id as value.codeText for value in level" ng-model="record.rank">
                            <option value="">--选择--</option>
                        </select></div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>

                <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label" for="address">
                        <span class="text-danger wrapper-sm">*</span>
                        章节
                    </label>
                    <div class="col-sm-6" style="position: relative;">
                        <input type="text" class="form-control" style="position: absolute;top: 0; left:0;opacity: 0" name="chapters" id="chapters" ng-model="record.chapters"  >
                        <a class="btn btn-block text-left" ng-click="select_chapter()" style="position: relative;z-index: 1">选择... <span ng-show="record.chapters">【{{record.s_chapter}}】</span></a>

                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label" for="address">
                        <span class="text-danger wrapper-sm">*</span>
                        知识点
                    </label>
                    <div class="col-sm-6" style="position: relative;">
                        <input type="text" class="form-control" style="position: absolute;top: 0; left:0;opacity: 0" name="knowledgePoints" id="knowledgePoints" ng-model="record.knowledgePoints"  >
                        <a class="btn btn-block text-left" ng-click="select_knowledgePoints()" style="position: relative;z-index: 1">选择... <span ng-show="record.knowledgePoints">【{{record.s_knowledgePoints}}】</span></a>

                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>


                <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label" for="remark">
                        <span class="text-danger wrapper-sm">*</span>
                        试题内容
                    </label>
                    <div class="col-sm-6" style="position: relative;">  
                        <textarea id="hide_content" name="hide_content" style="position: absolute;top: 0; left:0;opacity: 0" ng-model="record_temp.content_temp.c" class="form-control" rows="3"></textarea>
                        <div class="ueditor" name="content"  ng-model="record_temp.content_temp.c" config="_simpleConfig" required></div>
                        <br>    
                        <button class="btn btn-xs btn-info" ngf-select="onContentSelect($files)" multiple="multiple">添加图片</button>

                        <span ng-repeat="(key, value) in record_temp.content_temp.img" class="content_c">
                            <img ng-src="{{value}}" alt="">
                            <i class="text-md fa fa-times text-white" ng-click="del_content_img($index)"></i>
                        </span>

                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label" for="name">
                        <span class="text-danger wrapper-sm">*</span>
                        试题类型
                    </label>
                    <div class="col-sm-6">
                        <select name="type" id="type" class="form-control" ng-options="value.id as value.codeText for value in type" ng-model="record.type" ng-change="change_answer()" ng-init="record.type=76">
                            <option value="">--选择--</option>
                        </select>
                    </div>
                </div>
            
                <div class="line line-dashed b-b line-lg pull-in"></div>



                <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label" for="remark">
                        <span class="text-danger wrapper-sm">*</span>
                        试题答案
                    </label>
                    <div class="col-sm-6">
                        
                        <div ng-show="record.type==76">
                            <!-- 单选题 -->
                            <div ng-include="'template/module/homework/teacherhomework/answertemp/singletemp.html'" ng-controller="singletempController" ></div>
                        </div>
                        <div ng-show="record.type==77">
                            <!-- 多选题 -->
                            <div ng-include="'template/module/homework/teacherhomework/answertemp/multipletemp.html'" ng-controller="multipletempController"></div>
                            
                        </div>
                        <div ng-show="record.type==78">
                            <!-- 问答题 -->
                            <div ng-include="'template/module/homework/teacherhomework/answertemp/qatemp.html'" ng-controller="qatempController"></div>
                            
                        </div>
                        <div ng-show="record.type==79">
                            <!-- 判断题 -->
                            <div ng-include="'template/module/homework/teacherhomework/answertemp/judgetemp.html'" ng-controller="judgetempController"></div>
                        </div>
                        <div ng-show="record.type==80">
                            <!-- 填空题 -->
                            <div ng-include="'template/module/homework/teacherhomework/answertemp/completemp.html'" ng-controller="completempController"></div>
                        </div>
                        <div ng-show="record.type==147">
                            <!-- 解答题 -->
                            <div ng-include="'template/module/homework/teacherhomework/answertemp/aqtemp.html'" ng-controller="aqtempController"></div>
                        </div>

                            
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in" ></div>



                <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label" for="remark">
                        <span class="text-danger wrapper-sm">*</span>
                        试题解析
                    </label>
                    <div class="col-sm-6">
                        <textarea id="hide_analysis" name="hide_analysis" style="position: absolute;top: 0; left:0;opacity: 0" ng-model="record_temp.analysis_temp.c" class="form-control" rows="3"></textarea>
                        <div class="ueditor" name="content"  ng-model="record_temp.analysis_temp.c" config="_simpleConfig" required></div>
                        <br>    
                        <button class="btn btn-xs btn-info" ngf-select="onAnalysisSelect($files)" multiple="multiple">添加图片</button>
                        <span ng-repeat="(key, value) in record_temp.analysis_temp.img" class="content_c">
                            <img ng-src="{{value}}" alt="">
                            <i class="text-md fa fa-times text-white" ng-click="del_analysis_img($index)"></i>
                        </span>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label" for="name">
                        <span class="text-danger wrapper-sm">*</span>
                        关键词
                    </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="keyword" id="keyword" ng-model="record.keyword" placeholder="请输入关键字..."></div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
            
                <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label" for="name">
                        <span class="text-danger wrapper-sm">*</span>
                        试题标签
                    </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="tag" id="tag" ng-model="record.tag" placeholder="请输入试题标签..."></div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
            <label for="content"  class="col-lg-2 col-sm-3 control-label"></label>
            <div  class="col-sm-9">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </form>
</div>
<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->