<script src="lib/My97DatePicker/WdatePicker.js"></script>
<div class="ngdialog-title">发放作业 ({{title}})</div>
<br>
    <div class="row">
       <form id="sendbj_form" class="form-horizontal">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				    <table width="400">
                        <tr>
                            <td valign="top" align="right">班级：</td>
                            <td>
                                <div>
                                     <div ng-repeat="(key, value) in classInfo">
                                        <input type="checkbox" name="bj_s" id="bj_s" data-checklist-model="record.classIds" data-checklist-value="value.classId">{{value.className}}
                                    </div>
                                </div>
                            
                            </td>
                        </tr>  
                        <tr>
                            <td valign="top" align="right">完成时间：</td>
                            <td>
                                <input type="text" name="endDateStr" id="endDateStr" class="form-control" value="" date-picker datefmt='yyyy-MM-dd HH:mm:ss' ng-model="record.endDateStr" >
                            </td>
                        </tr>          
                    </table>
                    <br>
                </div>
            	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <button type="submit" class="btn btn-primary">提 交</button>
                </div>
			</div>
        </div>
      </form>
    </div>
