<script src="lib/jquery/jquery.validate.min.js"></script>
<script src="lib/jquery/additional-methods.min.js"></script>
<!-- <div class="row pad">
    <div class="col-sm-6">
        <label style="margin-right: 10px;" class="">
            <div class="icheckbox_minimal-blue" ng-click="select_all()" ng-class="{checked:s_all==true}" style="position: relative;"><input type="checkbox" id="check-all" style="position: absolute; opacity: 0;"></div>
        </label>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                操作 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                 
                <li><a ng-click="del()">删除</a></li>
            </ul>
        </div>

    </div>
	
</div> -->

<div class="table-responsive">
                                               
    <table class="table table-homework">
        <tbody><tr class="unread">
           <!--  <td class="small-col">
            </td> -->
            <td class="name"><a>学生</a></td>
            <td class="name"><a>班级</a></td>
            
            <td class="name"><a>作业名称</a></td>
            <td class="name"><a>科目</a></td>
             <td class="name">发放时间</td>
            <td class="name"><a>要求完成时间</a></td>
            <td class="name"><a>提交时间</a></td>
            <td class="name"><a>完成状态</a></td>

            <td class="name"><a>是否逾期</a></td>
            
            <td class="time">操作</td>
        </tr>
		
        <tr ng-repeat="item in pageInfo.list">
            <!-- <td class="small-col v-middle">
            <div class="icheckbox_minimal-blue" ng-class="{checked:$parent.pageInfo.list[$index].selected}" ng-click="select_per($index)"  style="position: relative;">
                <input type="checkbox" style="position: absolute; opacity: 0;">
            </div>
            </td> -->
            <td class="name">
                <!-- <a ng-bind-html="item.studentId"></a> -->
                {{item.studentName}}
                </td> 
            <td class="name">
                <!-- <a ng-bind-html="item.classId"></a> -->
                {{item.className}}
            </td>    
            
            <td class="name">
                <a  ng-bind-html="item.homework.title"></a>
                </td>
            <td class="name">
                <a ng-bind-html="item.homework.subject.name"></a>
                </td>  
             <td class="name" ng-bind="item.beginDate"></td>      
            <td class="name">
                <a ng-bind-html="item.endDate"></a>
                </td>      
             <td class="name">
                <a ng-bind-html="item.releaseTime"></a>
                </td> 
             <td class="name">
                    <span ng-show="item.status==0" class="text-success">已完成</span>
                    <span ng-show="item.status==1">未完成</span>
                </td>    
             <td class="name">
                  <span ng-show="item.status==1">--</span>
                  <span ng-show="item.status==0 && item.overTime==1" class="text-danger">是</span>
                  <span ng-show="item.status==0 && item.overTime==0" class="text-success">否</span>  
             </td>          
            
            <td class="time" >
                <a class="btn btn-sm btn-primary" ui-sref="main.teacherhomework.stateshow({id:item.id,classId:param.classId})">查看</a>
            </td>
        </tr>


    </tbody>
    </table>
    <div ng-include="'template/module/tpl/pageInfo.html'"></div>
</div>

<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->