.teachers {
    padding-top: 15px;
}
.teachers_view_lay{
	background: #fff;
	padding: 15px;
}

/*浏览模式*/
.teachersBox_lay:after{
    content:"";
    display: block;
    clear: both;
}
.teachersBox{
   padding: 9px;  
}
.teachersBox_inner:hover{
    border:1px #26C9FF solid;
}
.teachersBox_inner{
    border:1px #cacbcd solid;
    background-color: #fff;
    height: 260px;
    position: relative;
    padding: 10px;
    float: left;
    width: 100%;

}

.teachersBox_inner.last div{
    font-size: 115px;
    text-align: center;
    line-height: 240px;
    color: #cdcdcd;
}
.delete{
    font-size: 20px;
    text-align: center;
    color: #cdcdcd;
    width: 26px;
    height: 26px;
    float: right;
}
.delete span{
    line-height: 26px;
    text-align: center;
}
.teachersBox_inner .allClass{
    padding-top: 20px;
    width: 50%;
    height: 100%;
    margin: 0;
    overflow: hidden; 
    /*background-color: #D2FF4D;*/
    text-overflow: ellipsis;
    float: left;
}

.teachersBox_inner .allClass a{
    /*font-weight:bold;*/
    font-size: 14px;
    line-height: 30px;
    font-family: "微软雅黑";
    color:#444;
    display: inline-block;
     white-space:nowrap;
}
.teachersBox_inner .contentbox{
    height:35%;
    width: 100%;
    /*border:1px #000 solid;*/
    overflow: hidden; 
    line-height: 20px;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #666;
    padding: 10px;
    text-overflow: ellipsis;
    float: left;

}
.pic a img{
    width:100%;
    height: 100%;

    /*margin: 20px;*/
}
.pic{
    width:50%;
    height: 70%;
    float: left;
    padding: 0;
    overflow: hidden;

}