
<div class="question_item">
	<div>
	{{$parent.pageInfo.startRow + $index}}、
		<a class="btn btn-xs btn-primary">{{answertype[value.resQuestion.type]}}</a>
		<a class="btn btn-xs btn-primary">{{level[value.resQuestion.rank]}}</a>
	</div>

	<div class="question_content">
		<div ng-bind-html="value.resQuestion.content.c">
		</div>
		<div>
			<span ng-repeat="(k, v) in value.resQuestion.content.img">
				<img src="{{v}}" alt="">
			</span>
			
		</div>

		<div class="answer_content">
			<!-- <div class="include_editor" name="content"  ng-model="value.answerSheet" config="_simpleConfig" required></div> -->
			

			<div ng-bind-html="value.resQuestion.answer.c">
				
			</div>
			<div>
				<span ng-repeat="(k, v) in value.resQuestion.answer.img">
					<img src="{{v}}" alt="">
				</span>
			</div>
		</div>

		试题解析：
		<div class="analysis_content">
			
			<div ng-bind-html="value.resQuestion.analysis.c">
				
			</div>
			<div>
				<span ng-repeat="(k, v) in value.resQuestion.analysis.img">
					<img src="{{v}}" alt="">
				</span>
			</div>
		</div>

		<br>
		我的答案：<span ng-bind-html="show_myanwser($index)"></span>
		<!-- <button ng-click="answerSheet(value.resQuestion.id,$index,value.id)" ng-show="show_answerBtn($index)">
			<span ng-hide="!value.status">提交答案</span>
            <span ng-show="!value.status">修改答案</span>
		</button> -->


		<div class="analysis_content" ng-if="value.isMarking==0">
			批改：<br>
			<span ng-bind-html="value.remark"></span>
		</div>
	</div>
	


	<img src="template/img/c.png" class="ico" ng-if="!value.isTrue && value.isMarking==0" alt="">
    <img src="template/img/d.png" class="ico" ng-if="value.isTrue  && value.isMarking==0" alt="">
	<div class="ico" ng-if="value.isMarking==1 && value.status==0">等待老师阅卷</div>

</div>
