

 <script src="lib/jquery/jquery.validate.min.js"></script>
  <script src="lib/jquery/additional-methods.min.js"></script>  
<div class="row pad mailbox-env">
	<div class="mail-compose">
		<div class="row">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					<form id="emailwrite">
						<div class="mail-header">
							<div class="row">
								<div class="col-sm-6">							
									<h3>
										<i class="linecons-pencil"></i>
										{{title}}
									</h3>
								</div>
								
							</div>
						</div>	

					
						<div class="form-group" style="position: relative;">
							<label for="to">收信人:</label>
							
							<div style="position: absolute; width: 100%; top:25px;bottom:0;z-index: 0">
								<input type="text" class="form-control"  id="recipientNames_temp"  name="recipientNames_temp" value="{{recipientobj}}">
							</div>
							<div class="user_lay" onclick="$('#key1').focus()" >
								
									<span class="s_name" ng-repeat="(k,v) in recipientobj">{{v.name}} <i class="icon-remove" ng-click="del($index,v)"></i></span>

									<span style="position: relative;display: inline-block;">
										<input type="text" ng-focus="change_active('1')" id="key1" name="key1" ng-model="key1" autocomplete="off" class="s_key">
										<div ng-class="{'slide_lay':key1!=''}" ng-show="key1!=''">
											<div ng-repeat="(key, value) in schoolMailList | filter:myFilter1" ng-click="s_name(value)">{{value.name}}</div>
										</div>
									</span>
								
								
								<div class="clearfix"></div>
							</div>

							<!-- <div class="field-options">
								<a href="javascript:;" onclick="jQuery(this).hide(); jQuery('#sendcsnames').parents('.form-group').removeClass('hidden'); jQuery('#key2').focus();" ng-hide="record.sendcsnames">添加抄送</a>
								<a href="javascript:;" onclick="jQuery(this).hide(); jQuery('#sendmsnames').parents('.form-group').removeClass('hidden'); jQuery('#key3').focus();" ng-hide="record.sendmsnames">添加密送</a>
							</div> -->
						</div>

						<div class="compose-message-editor">
						<label for="subject">内容:</label>
						
						<div class="include_editor" name="content"  ng-model="record.content" config="_simpleConfig" required></div>
						<div class="editor-js"></div>
						</div>

						<div class="row">
							<div class="col-sm-3">
								<button type="submit" class="btn btn-primary btn-block">
									<i class="linecons-mail"></i>
									<span>发送</span>
								</button>

							</div>
							
						</div>
						
					</form>			
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<div ui-view>
					<!-- 通讯录 -->
				</div>
			</div>
		</div>
		
		

	</div>
	
</div>



    <!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->
