<script type="text/javascript" src="lib/jquery/jquery.min.js"></script>

<div class="search-form row">
<ul id="myTab" class="nav nav-tabs">
   
    <li  role="presentation"  class="active">
        <a role="tab" ng-click="change(1)"  data-toggle="tab">奖励</a>
    </li>
     <li role="presentation">
        <a role="tab" ng-click="change(2)" data-toggle="tab">惩罚</a>
    </li>
   
</ul>

    </div>

                <!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    <br>
        <div ng-show="type==1">
                
                    <div class="table-responsive">
                                   
                        <table class="table table-teacherclass">
                            <tbody>
                            <tr class="unread">
                                <td class="small-col">
                                </td>

                                <td class="subject">学生姓名</td>
                                <td class="subject">奖励名称</td>
                                <td class="subject">奖励分数</td>
                                
                                <td class="subject">创建者</td>
                                <td class="subject">创建时间</td>

                            </tr>


                            <tr ng-repeat="item in pageInfo.reward">

                                <td class="subject"></td>
                                <td class="subject">{{item.sname}}</td>
                                <td class="subject">{{item.institution}}</td>
                                <td class="subject">{{item.score}}</td>
                                <td class="subject">{{item.tname}}</td>
                                <td class="subject">{{item.createTime}}</td>

                            </tr>

                        </tbody>
                        </table>
                        <div ng-include="'template/module/tpl/pageInfo.html'"></div>
                    </div>

            <!-- toaster directive -->
            <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
            <!-- / toaster directive -->                   
        </div>
                        
        <div ng-show="type==2">
                
                    <div class="table-responsive">
                                   
                        <table class="table table-teacherclass">
                            <tbody>
                            <tr class="unread">
                                <td class="small-col">
                                </td>

                                <td class="subject">学生姓名</td>
                                <td class="subject">惩罚名称</td>
                                <td class="subject">惩罚分数</td>
                                
                                <td class="subject">创建者</td>
                                <td class="subject">创建时间</td>

                            </tr>


                            <tr ng-repeat="item in pageInfo.punishment">

                                <td class="subject"></td>
                                <td class="subject">{{item.sname}}</td>
                                <td class="subject">{{item.institution}}</td>
                                <td class="subject">{{item.score}}</td>
                                <td class="subject">{{item.tname}}</td>
                                <td class="subject">{{item.createTime}}</td>
                               
                            </tr>

                            </tbody>
                        </table>
                        <div ng-include="'template/module/tpl/pageInfo.html'"></div>
                    </div>

            <!-- toaster directive -->
            <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
            <!-- / toaster directive -->                   
        </div>
    </div>
</div>        


