<script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
<!-- 
<div class="row pad">
	<div class="col-sm-6">
        <label style="margin-right: 10px;" class="">
            <div class="icheckbox_minimal-blue" ng-click="select_all()" ng-class="{checked:s_all==true}" style="position: relative;">
                <input type="checkbox" id="check-all" style="position: absolute; opacity: 0;">
            </div>
        </label>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                操作 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
               
                <li><a ng-click="del()">删除</a></li>
            </ul>
        </div>

    </div> -->
<div class="search-form row">
    <ul id="myTab" class="nav nav-tabs">
   
        <li  role="presentation"  class="active">
            <a role="tab" ng-click="change(1)"  data-toggle="tab">学生列表</a>
        </li>
         <li role="presentation">
            <a role="tab" ng-click="change(2)" data-toggle="tab">座次管理</a>
        </li>
   
    </ul>
</div>

                <!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    <br>
        <div ng-show="type==1">
                    <div class="row pad">
                        <div class="col-sm-6">
                            <label style="margin-right: 10px;" class="">
                                <div class="icheckbox_minimal-blue" ng-click="select_all()" ng-class="{checked:s_all==true}" style="position: relative;">
                                    <input type="checkbox" id="check-all" style="position: absolute; opacity: 0;">
                                </div>
                            </label>
                            <!-- Action button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                                    操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <!-- <li><a ng-click="remove_trash()">移动到垃圾箱</a></li>
                                    <li class="divider"></li> -->
                                    <li><a ng-click="del()">删除</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-sm-6 search-form">

                        </div>
                    </div>
                
                    <div class="table-responsive">
                                   
                        <table class="table table-teacherclass">
                            <tbody>
                            <tr class="unread">
                                <td class="small-col">
                                </td>
                                <td class="subject">学号</td>
                                <td class="subject">姓名</td>
                                <td class="subject">民族</td>
                                <td class="subject">性别</td>
                                
                                <td class="subject">身份证号码</td>
                                <td class="subject">年龄</td>
                                <td class="subject">电话</td>
                                <td class="subject">政治面貌</td>
                                <td class="subject">家庭住址</td>
                                <td class="opt">操作</td>
                            </tr>


                            <tr ng-repeat="item in pageInfo.list">
                                <td class="small-col"><div class="icheckbox_minimal-blue" ng-class="{checked:$parent.pageInfo.list[$index].selected}" ng-click="select_per($index)" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"></div>
                                </td>
                                <td class="subject">{{item.code}}</td>
                                <td class="subject">{{item.name}}</td>
                                <td class="subject">{{item.nationNameref}}</td>
                                <td class="subject">{{item.sexNameref}}</td>
                                <td class="subject">{{item.idCard}}</td>
                                <td class="subject">{{item.age}}</td>
                                <td class="subject">{{item.tel}}</td>
                                <td class="subject">{{re_politicsName(item.politics)}}</td>
                                <td class="subject">{{item.address}}</td>
                                <td class="opt">
                                    <a ng-click="validModify(item.id)" class="btn btn-sm btn-primary">编辑</a>  
                                    <a ng-click="del(item.id)" class="btn btn-sm btn-danger">删除</a> 
                                </td>
                            </tr>

                        </tbody>
                        </table>
                        <div ng-include="'template/module/tpl/pageInfo.html'"></div>
                    </div>

            <!-- toaster directive -->
            <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
            <!-- / toaster directive -->                   
        </div>
                        

                        <!-- 试题 -->
        <div class="row" ng-show="type==2">
                                       
             <div id="container" ng-include="'template/module/classmanage/teacherclass/studentgrid.html'" ng-controller="studentgridController">

            </div>
        </div>
    </div>
</div>        


