<link rel="stylesheet" type="text/css" href="lib/angular/tree-control.css">
<link rel="stylesheet" type="text/css" href="lib/angular/tree-control-attribute.css">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3> <i class="linecons-pencil"></i>
			{{title}}
		</h3>
	</div>

	<div role="tabpanel">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="/main/email/write/emailbook#home" aria-controls="home" role="tab" data-toggle="tab">学校通讯录</a>
			</li>
			<!-- <li role="presentation">
				<a href="/main/email/write/emailbook#tab" aria-controls="tab" role="tab" data-toggle="tab">个人通讯录</a>
			</li> -->
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">
				<div class="widget-content nopadding fix_hgt">
				
					    <!--  <div treecontrol class="tree-dark" tree-model="schooletreedata" on-selection="showSelected(node)">
					        <span ng-switch="" on="node.type">
					           <span ng-switch-when="folder" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
					           <span ng-switch-when="pic" class="glyphicon glyphicon-picture" aria-hidden="true"></span>
					           <span ng-switch-when="doc" class="glyphicon glyphicon-file" aria-hidden="true"></span>
					           <span ng-switch-when="file" class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
					           <span ng-switch-when="movie" class="glyphicon glyphicon-film" aria-hidden="true"></span>
					           <span ng-switch-when="email" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					           <span ng-switch-when="home" class="glyphicon glyphicon-home" aria-hidden="true"></span>
					           <span ng-switch-when="trash" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					        {{node.label}}{{node.email}}</span>
					    </div> -->
						
						<div class="list-group">
							<a class="list-group-item email_book" ng-click="select(value)" ng-repeat="(key, value) in schoolMailList" title="{{value.name}}({{value.email}})">{{value.name}}({{value.email}})</a>
						</div>
					    
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="tab">
				
				<div class="widget-content nopadding fix_hgt">
				
					     <!-- <div treecontrol class="tree-dark" tree-model="privatetreedata" on-selection="showSelected(node)">
					         <span ng-switch="" on="node.type">
					            <span ng-switch-when="folder" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
					            <span ng-switch-when="pic" class="glyphicon glyphicon-picture" aria-hidden="true"></span>
					            <span ng-switch-when="doc" class="glyphicon glyphicon-file" aria-hidden="true"></span>
					            <span ng-switch-when="file" class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
					            <span ng-switch-when="movie" class="glyphicon glyphicon-film" aria-hidden="true"></span>
					            <span ng-switch-when="email" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					            <span ng-switch-when="home" class="glyphicon glyphicon-home" aria-hidden="true"></span>
					            <span ng-switch-when="trash" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					         {{node.label}}{{node.email}}</span>
					     </div> -->
				</div>

			</div>
		</div>
	</div>
</div>


<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->