<!-- <div ng-app="bin" ng-controller="DemoCtrl as demo">
    <h3>Select and Deselecting</h3>
      
    <p>This demo uses the <code>ivhTtreeviewMgr</code> to programmatically select and deselect <strong>multiple</strong> tree nodes at once.</p>
    
    <div ivh-treeview="demo.stuff"
			ivh-treeview-use-checkboxes="true">
    </div>
    
    <button ng-click="selectHatsPens()">
      Select Hats and Pens
    </button>
    
    <button ng-click="deselectBaseballGel()">
      Deselect Baseball and Gel Ink
    </button>
			
  </div> -->