<div class="ngdialog-title" ng-bind="title"></div>
<br>
    <div class="row">
       <form id="sendbj_form" class="form-horizontal">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				    <i class="fa fa-exclamation-triangle"></i><i class="fa fa-camera-retro"></i>
                        <span ng-bind="confirm_msg"></span>
                    <br><br>
                </div>
            	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    
                        <button type="submit" class="btn btn-success" ng-click="do()">确认</button>
                    
                        <button type="submit" class="btn btn-success" ng-click="cancel()">取消</button>
                    
                </div>
			</div>
        </div>
      </form>
    </div>