
<!-- 导航条 -->
<div class="bg-white bread-crumb">
    <ul class="breadcrumb b-a m-b-n-xs lter b-b wrapper-md">
        <li>
            <a ui-href="main"> <i class="fa fa-home"></i>
                首页
            </a>
        </li>
        <li class="active" ng-bind="title"></li>
    </ul>
</div>

<!-- 加载提醒 -->
<div ng-show="loading" class="text-center m-t-md text-lg"><i class="fa fa-spin fa-spinner"></i>
    数据加载中...
</div>

<!-- 内容区域 -->
<div class="wrapper-md content">
    <div class="panel panel-default">
        <!-- 头部 -->
        <div class="panel-heading font-bold">
            {{title}}
            <a class="btn btn-sm btn-icon btn-rounded btn-default pull-right m-t-n-xs" ui-sref="main.edu.school.list">
                <i class="text-md fa fa-times text-muted"></i>
            </a>
        </div>
        <!--表单-->
        <div class="panel-body">
            <form class="form-horizontal" name="user_form">
                <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label">
                        选择科目
                    </label>
                    <div class="col-sm-3">
                        <label class="control-label">
                            科目编码
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">
                            科目名称
                        </label>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <!--用户名-->
                <div ng-repeat="item in subjectList">
                <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label">
                        <checkbox class="btn-icon btn btn-success" ng-model="$parent.subjectList[$index].checked"></checkbox>
                        <!--<input type="checkbox" id="id" name="id" ng-checked="item.checked"-->
                               <!--ng-model="$parent.subjectList[$index].checked">-->
                    </label>
                    <div class="col-sm-3">
                        <label class="control-label">
                            {{item.code}}
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">
                            {{item.name}}
                        </label>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                </div>

                <!--btn-->
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-2">
                        <button type="submit" class="btn btn-info w-xs m-l-xl" ng-click="submit()">保存</button>
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>