<link rel="stylesheet" href="template/module/teachermanage/teacher.css">

<div class="row pad">
    <div class="col-sm-2">
        <label style="margin-right: 10px;" class="">
            <div class="icheckbox_minimal-blue" ng-click="select_all()" ng-class="{checked:s_all==true}"
                 style="position: relative;"><input type="checkbox" id="check-all"
                                                    style="position: absolute; opacity: 0;"></div>
        </label>
        <!-- Action button -->
        <div class="btn-group">

            <button type="button" class="btn btn-default btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                操作 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="del()">删除</a></li>
            </ul>
        </div>

    </div>
    <div class="col-sm-3 search-form">
        <form ng-submit="search()" class="text-right">
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="param.keyword" placeholder="Search">
                <div class="input-group-btn">
                    <button type="submit" name="q" class="btn btn-sm btn-success"><i class="fa icon-search"></i>
                    </button>
                </div>
            </div>

        </form>
    </div>
    <div class="col-sm-7">
        <a ui-sref="main.teachermanage.teacheradd" class="btn btn-success pull-right"> <i
                class="icon-plus"></i> 添加老师</a>
        <a href="/edu/teacher/exportData" class="btn btn-success pull-right" multiple="multiple" style="margin-right:10px;"><i
                class="icon-download-alt"></i> Excel导出信息</a>
        <div class="btn btn-success pull-right" ngf-select="onFileSelect($files)" multiple="multiple"
             style="margin-right:10px;"><i class="icon-upload-alt"></i> Excel导入信息
        </div>
        <a href="/edu/teacher/downloadTemplate" class="btn btn-success pull-right" style="margin-right:10px;"><i
                class="icon-download-alt"></i> 下载模板</a>

    </div>
</div>

<div class="table-responsive">

    <table class="table table-mailbox">
        <tbody>
        <tr class="unread">
            <td class="small-col">
            </td>
            <td class="code">工号</td>
            <td class="name">老师姓名</td>
            <td class="deptid">部门名称</td>
            <td class="sex">性别</td>
            <td class="idCard">身份证号码</td>
            <td class="tel">电话</td>
            <td class="email">邮箱</td>
            <td class="opt">操作</td>
        </tr>
        <tr ng-repeat="item in pageInfo.list">
            <td class=" v-middle">
                <div class="icheckbox_minimal-blue" ng-class="{checked:$parent.pageInfo.list[$index].selected}"
                     ng-click="select_per($index)" style="position: relative;"><input type="checkbox"
                                                                                      style="position: absolute; opacity: 0;">
                </div>
            </td>
            <td class="code v-middle">{{item.code}}</td>
            <td class="name v-middle">{{item.name}}</td>
            <td class="deptid v-middle">{{item.deptIdNameref}}</td>
            <td class="sex v-middle">{{sexType[item.sex]}}</td>
            <td class="idCard v-middle">{{item.idCard}}</td>
            <td class="tel v-middle">{{item.tel}}</td>
            <td class="email v-middle">{{item.email}}</td>
            <td class="opt v-middle">
                <a ng-show="item.eduUserId==0" ng-click="bind_module(item.id,item.eduUserId)"
                   class="btn-default btn btn-sm">未绑定</a>
                <a ng-hide="item.eduUserId==0" ng-click="remove_module(item.id,item.eduUserId)"
                   class="btn-default btn btn-sm">解除绑定</a>
                <a ng-click="add_module(item.id)" class="btn-default btn btn-sm">所授科目</a>
                <a ui-sref="main.teachermanage.teacheredit({id:item.id})" class="btn-primary btn btn-sm">编辑</a>
                <a ng-click="open_confirm(item.id)" class="btn-danger btn btn-sm">删除</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-include="'template/module/tpl/pageInfo.html'"></div>
</div>

<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->
