<link rel="stylesheet" href="template/module/teachermanage/teacher.css">
<div class="row pad">
    <div class="table-responsive">
        <table class="table table-mailbox">
            <tbody>
            <tr class="unread">
                <td class="name">考试名称</td>
                <td class="type">考试类型</td>
                <td class="time">开始时间</td>
                <td class="time">结束时间</td>
                <td class="status">考试状态</td>
                <td class="opt">操作</td>
            </tr>
            <tr ng-repeat="item in pageInfo.list">
                <td class="name v-middle">{{item.name}}</td>
                <td class="name v-middle">{{eType[item.type].name}}</td>
                <td class="time v-middle">{{item.startTime}}</td>
                <td class="time v-middle">{{item.endTime}}</td>
                <td class="status v-middle">{{examStatus[item.status]}}</td>
                <td class="opt v-middle">
                    <a class="btn btn-sm btn-default" ng-hide="item.entryStatus==1">成绩未发布</a>
                    <a ui-sref="main.examScoreChart.examScoreAvgChart({examId:item.id,classId:id})" ng-show="item.entryStatus==1" class="btn btn-sm btn-primary">平均成绩</a>
                    <a ui-sref="main.examScoreChart.examScorePieChart({examId:item.id,classId:id})" ng-show="item.entryStatus==1" class="btn btn-sm btn-primary">成绩分布</a>
                    <a ui-sref="main.examScoreChart.examScoreSilvChart({examId:item.id,classId:id})" ng-show="item.entryStatus==1" class="btn btn-sm btn-primary">四率分布</a>
                    <a ui-sref="main.examScoreChart.examScoreCountChart({examId:item.id,classId:id})" ng-show="item.entryStatus==1" class="btn btn-sm btn-primary">成绩统计</a>
                    <a ui-sref="main.examScoreChart.examScoreCountTable({examId:item.id,classId:id})" ng-show="item.entryStatus==1" class="btn btn-sm btn-primary">试卷分析表</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-include="'template/module/tpl/pageInfo.html'"></div>
    </div>
</div>

<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->