<div id="breadcrumb">
  <a href="#"><i class="icon-home"></i> 学习云平台</a> 
  <i class="icon-angle-right"></i><a >{{app_name}}</a>
</div>
<div class="row  no-padding">
	    <ul class="list-inline">
			<li class="success" style="background:#f00">
				<a ui-sref="main.deptmanage.deptlist">
					<h5>部门管理</h5>
				</a>
			</li>
			<li class="success" style="background:#ff0">
				<a ui-sref="main.rolemanage.rolelist">
					<h5>角色管理</h5>
				</a>
			</li>
			<li class="success" style="background:#00f">
				<a ui-sref="main.usermanage.userlist">
					<h5>用户管理</h5>
				</a>
			</li>
		</ul>
</div>