<div id="breadcrumb">
  <a href="#/main"><i class="icon-home"></i> 学习云平台</a> 
  <i class="icon-angle-right"></i><a>{{app_name}}</a>
</div>
<link href="template/module/desk/ui-css/main.css" rel="stylesheet" type="text/css" />
<link href="template/module/desk/ui-css/jquery-fallr-1.3.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="template/module/desk/ui-js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="template/module/desk/ui-js/ui/ui.core.min.js"></script>
<script type="text/javascript" src="template/module/desk/ui-js/ui/ui.sortable.min.js"></script>
<script type="text/javascript" src="template/module/desk/ui-js/jquery-fallr-1.3.pack.js"></script>
<script type="text/javascript" src="template/module/desk/ui-js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="template/module/desk/ui-js/Jh.js"></script>
<div class="lay_grid">
  
</div>