<!-- 
<div class="row pad">
    <div class="col-sm-6">
        <label style="margin-right: 10px;" class="">
            <div class="icheckbox_minimal-blue" ng-click="select_all()" ng-class="{checked:s_all==true}" style="position: relative;">
                <input type="checkbox" id="check-all" style="position: absolute; opacity: 0;">
            </div>
        </label>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                操作 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                
                <li><a ng-click="del()">删除</a></li>
            </ul>
        </div>

    </div>
    <div class="col-sm-6 search-form">
        <form action="/main/plan/planlist" class="text-right">
            <div class="input-group">                                                            
                <input type="text" class="form-control input-sm" placeholder="搜索">
                <div class="input-group-btn">
                    <button type="submit" name="q" class="btn btn-sm btn-success"><i class="fa icon-search"></i></button>
                </div>
            </div>                                                     
        </form>
    </div>
</div>  -->

<div class="table-responsive">                                    
    <table class="table table-mailbox">
        <tbody>
        <tr class="unread">
            <td class="small-col">
            </td>
            <td class="subject">课题</td>
           
            <td class="subject">作课时间</td>
            <td class="subject">评课地点</td>
            <td class="subject">作课人</td>
            <td class="subject">邀请参评人员</td>
            <td class="subject">状态</td>
            <td class="opt">操作</td>
        </tr>
        <tr ng-repeat="item in pageInfo.list">
            <td class="small-col v-middle"><!-- <div class="icheckbox_minimal-blue" ng-class="{checked:$parent.pageInfo.list[$index].selected}" ng-click="select_per($index)" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"></div> -->
            </td>
            <td class="subject v-middle"><a ui-sref="main.teachingmanage.teachingdetail({id:item.id})">{{item.classTitle}}</a></td>

            <!-- <td class="subject v-middle">{{item.starttime}}</td> -->
            <!-- <td class="subject v-middle">{{item.classTitle}}</td> -->
            <td class="subject v-middle">{{item.classTime}}</td>
            <td class="subject v-middle">{{item.lessionPlace}}</td>
            <td class="subject v-middle">{{item.teacherName}}</td>
            <td class="subject v-middle"><span  ng-repeat="v in item.attendeePlanList">{{v.name}}&nbsp;&nbsp;<!-- <i ng-show="item.attendeePlanList.length > 1">,</i> --></span></td>
            <!-- <td class="subject v-middle">{{item.attendeeStr}}</td> -->
            <td>
                <span ng-show="item.status==1" style="line-height:50px;">已结束</span>
                <span ng-show="item.status==0" style="line-height:50px;">未开始</span>
            </td>
            <td class="fll v-middle"> 
            	<button class="btn btn-success " ui-sref="main.teachingmanage.teachingdetail({id:item.id})">查看</button>
            	<button class="btn btn btn-info" ui-sref="main.teachingmanage.teachingadd({id:item.id})">修改</button>
            	<button class="btn btn-primary" ui-sref="main.teachingmanage.teachingedit({id:item.id})" ng-show="item.status==0">录入评课结果</button> 
            	<button class="btn btn-danger" ng-click="open_confrim(item.id)" ng-show="item.status==0">删除</button>
            </td>
        </tr>
    	</tbody>
    </table>
</div>
  <div ng-include="'template/module/tpl/pageInfo.html'"></div>

<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive