

<div class="table-responsive">                                    
    <table class="table table-mailbox bbstable_desk">
        <tbody>
        <tr class="unread">
            <td class="small-col">
            </td>
            <td class="subject">主题</td>

            <td class="subject">发表时间</td>
            <td class="subject">最后回复时间</td>
            <td class="opt">操作</td>
        </tr>
        <tr ng-repeat="item in pageInfo.list">
            <td class="small-col v-middle">
            </td>
            <td class="subject v-middle"><a ui-sref="main.bbs.threaddetail({id:item.id})">{{item.title}}</a></td>

            <td class="subject v-middle">{{item.publishTime}}</td>
            <!-- <td class="subject v-middle">{{item.endtime}}</td> -->
            <td class="subject v-middle">
                <span ng-show="item.lastAnswerTime">{{item.lastAnswerTime}}</span>
                <span ng-show="!item.lastAnswerTime">暂无回复，来抢沙发！</span>
            </td>
            <td class="opt v-middle"> 
            	<button class="btn btn-success" ui-sref="main.bbs.threaddetail({id:item.id})">查看帖子</button>


            </td>
        </tr>
    	</tbody>
    </table>
</div>
  <div ng-include="'template/module/tpl/pageInfo.html'"></div>

<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->