<div class="box box-success" id="loading-example" style="position: relative;">
                    <div class="box-header" style="cursor: move;">
                      <i class="fa {{appicon}}"></i>
                      <h3 class="box-title"><a href="{{appurl}}">{{appname}}</a></h3>
                      <i class="fa pull-right  icon-remove" ng-click="delapp(appidentify)"></i>
                    </div>
                    <div class="box-body no-padding">
                        <div class="news_desk" style="position:relative;height:100%;">
                        
                      
                            <!-- Add Pagination -->
                            <!-- <div class="swiper-pagination"></div> -->
                            <span class="arrow-left act-left"></span> 
                            <span class="arrow-right act-right"></span>
                          </div>
                        </div>
                     

                    </div>
                  </div>