<div class="row pad add_new">
    <form id="bookadd_form" class="form-horizontal">
        <div class="form-top">
            <legend ng-bind="app_name"></legend>
            <a class="btn btn-sm btn-icon btn-rounded btn-default pull-right m-t-n-xs btn-close" ui-sref="main.book.bookList({sorts_id:param.typeId,code:param.typeCode,name:param.name})"><i class="icon-remove"></i>
            </a>
        </div>
        <div class="form-group">
            <label for="remark"  class="col-lg-2 col-sm-3 control-label">封面图</label>
            <div  class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                <div ng-show="record.cover">
                    <br>
                    <img src="{{record.cover}}" width="100" alt="">
                </div>              
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-lg-2 col-sm-3 control-label">名称</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" id="name" name="name" placeholder=""  ng-model="record.name" readonly="true">
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-lg-2 col-sm-3 control-label">ISBN</label>
            <div  class="col-sm-9">
            <input type="text" class="form-control" id="isbn" name="isbn" placeholder=""  ng-model="record.isbn"readonly="true">
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-lg-2 col-sm-3 control-label">所属分类</label>
            <div  class="col-sm-9">
            <input type="text" class="form-control" id="isbn" name="isbn" placeholder=""  ng-model="record.typeCodeNameref" readonly="true">
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-lg-2 col-sm-3 control-label">总数量</label>
            <div  class="col-sm-9">
            <input type="text" class="form-control" id="totalNum" name="totalNum" placeholder="" ng-model="record.totalNum"readonly="true">
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-lg-2 col-sm-3 control-label">简称</label>
            <div  class="col-sm-9">
            <input type="text" class="form-control" id="inputCode" name="inputCode" placeholder="" ng-model="record.inputCode"readonly="true">
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-lg-2 col-sm-3 control-label">售价</label>
            <div  class="col-sm-9">
            <input type="text" class="form-control" id="salePrice" name="salePrice" placeholder="" ng-model="record.salePrice"readonly="true">
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-lg-2 col-sm-3 control-label">作者</label>
            <div  class="col-sm-9">
            <input type="text" class="form-control" id="author" name="author" placeholder="" ng-model="record.author"readonly="true">
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-lg-2 col-sm-3 control-label">出版社</label>
            <div  class="col-sm-9">
            <input type="text" class="form-control" id="pubUnit" name="pubUnit" placeholder=""  ng-model="record.pubUnit" readonly="true">
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-lg-2 col-sm-3 control-label">出版日期</label>
            <div  class="col-sm-9">
            <input type="text" class="form-control" id="pubDate" name="pubDate" placeholder="" ng-model="record.pubDate" readonly="true">
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-lg-2 col-sm-3 control-label">出版地点</label>
            <div  class="col-sm-9">
            <input type="text" class="form-control" id="pubPlace" name="pubPlace" placeholder="" ng-model="record.pubPlace" readonly="true">
            </div>
        </div>
        <div class="form-group">
            <label for="remark"  class="col-lg-2 col-sm-3 control-label">简介</label>
            <div  class="col-sm-9">
            {{record.desc}}
            </div>
        </div>
    </form>
</div>