<script src="lib/jquery/jquery.validate.min.js"></script>
<script src="lib/jquery/additional-methods.min.js"></script>
<div class="table-responsive">
                                               
    <table class="table table-homework">
        <tbody><tr class="unread">
           <!--  <td class="small-col">
            </td> -->
            <td class="name"><a>作业名称</a></td>
            <td class="name"><a>科目</a></td>
            <td class="time">创建时间</td>
            <td class="time">操作</td>
        </tr>
		
        <tr ng-repeat="item in pageInfo.list">
           <!--  <td class="small-col v-middle">
            <div class="icheckbox_minimal-blue" ng-class="{checked:$parent.pageInfo.list[$index].selected}" ng-click="select_per($index)"  style="position: relative;">
                <input type="checkbox" style="position: absolute; opacity: 0;">
            </div>
            </td> -->
            <td class="name" ng-bind-html="item.homework.title"></td>
            <td class="name" ng-bind-html="item.homework.subject.name"></td>    
            <td class="time" ng-bind="item.homework.createTime"></td>
            <td class="time" >
                <a class="btn btn-sm btn-default" ui-sref="main.teacheronlinehomework.show({id:item.homework.id})">查看试题</a>
                <a class="btn btn-sm btn-default" ng-click="send_bj(item.homework.id,item.id,item.homework.title,item.homework.subject.name)">发放</a>
                <a class="btn btn-sm btn-primary" 
                    ui-sref="main.teacheronlinehomework.choice({
                    id:item.homework.id,
                    gradeId:item.homework.baseGradeId,
                    subjectId:item.homework.subject.id,
                    chapterId:item.homework.chapterId,
                    knowledgePointId:item.homework.knowledgePointId})">
                    选题
                    </a>
                <a class="btn btn-sm btn-primary" ui-sref="main.teacheronlinehomework.homeworkedit({id:item.homework.id})">编辑</a>
                <a class="btn btn-sm btn-danger" ng-click="del_one(item.id)">删除</a>
            </td>
        </tr>


    </tbody>
    </table>
    <div ng-include="'template/module/tpl/pageInfo.html'"></div>
</div>

<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->