

<!-- 导航条 -->
<div class="bg-white bread-crumb">
	<ul class="breadcrumb b-a m-b-n-xs lter b-b wrapper-md">
		<li>
			<a ui-href="main"> <i class="fa fa-home"></i>
				首页
			</a>
		</li>
		<li class="active" ng-bind="title"></li>
	</ul>
</div>

<!-- 加载提醒 -->
<div ng-show="loading" class="text-center m-t-md text-lg"> <i class="fa fa-spin fa-spinner"></i>
	数据加载中...
</div>

<!-- 内容区域 -->
<div class="wrapper-md content">
	<div class="panel panel-default">
		<!-- 头部 -->
		<div class="panel-heading font-bold">
			{{title}}
			<a class="btn btn-sm btn-icon btn-rounded btn-default pull-right m-t-n-xs" ui-sref="main.edu.user.userlist({school_id:school_id,name:name})">
				<i class="text-md fa fa-times text-muted"></i>
			</a>
		</div>
		<!--表单-->
		<div class="panel-body">
			<form class="form-horizontal"  name="user_form">
				
				<!--用户名-->
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="name">
						<span class="text-danger wrapper-sm">*</span>
						姓名
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="name" id="name" ng-model="record.name" placeholder="请输入姓名..."></div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="name">
						<span class="text-danger wrapper-sm">*</span>
						头像
					</label>
					<div class="col-sm-6">
					<div class="row">
		                        	<div class="col-sm-12">
			                            <div class="m-b upload-pic-box">
			                                <a href="javascript:;" class="btn btn-default btn-addon">
			                                    <i class="fa icon-cloud-upload"></i>上传头像
			                                </a>
			                                <input type="file" id="fileInput" />
			                            </div>
		                            <div class="hbox hbox-auto-xs">
		                                <div class="col">
		                                    <div class="wrapper-sm b-a bg-white m-r-xs m-b-xs">
		                                        <div class="bg-light" style="height:320px">
		                                            <img-crop
		                                                    image="myImage"
		                                                    result-image="myCroppedImage"
		                                                    result-image-size="160"
		                                                    area-type="square"
		                                                    result-image-format="image/png"
		                                                    ></img-crop>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="col">
		                                    <div class="inline bg-white wrapper-sm b-a">
		                                        <div class="bg-light">
		                                            <img ng-src="{{myCroppedImage}}" />
		                                        </div>

		                                    </div>
		                                    <div>
			                                    <br>
			                                    <a class="btn btn-info" ng-disabled="myImage==''" ng-click="uploadImg()">上传头像</a>	
		                                    </div>
		                                    
		                                </div>
		                            </div>
		                            <span class="help-block m-b-none">logo尺寸要求宽度*高度为150px*150px。图片格式支持gif,jpg,png</span>
		                        </div>
	                        </div>
						</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>


				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="age">
						<span class="text-danger wrapper-sm">*</span>
						年龄
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="age" id="age" ng-model="record.age" placeholder="请输入年龄..."></div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="sex">
						<span class="text-danger wrapper-sm">*</span>
						性别
					</label>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<select name="sex" id="sex" class="form-control" ng-model="record.sex">
									<option value="">选择</option>
									<option value="1">男</option>
									<option value="0">女</option>
								</select>
							</div>
						</div>


						</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="idCard">
						<span class="text-danger wrapper-sm">*</span>
						身份证号
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="idCard" id="idCard" ng-model="record.idCard" placeholder="请输入身份证号..."></div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="tel">
						<span class="text-danger wrapper-sm">*</span>
						手机
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="tel" id="tel" ng-model="record.tel" placeholder="请输入电话..."  ng-keyup="copy_accent(this)"></div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="loginName">
						<span class="text-danger wrapper-sm">*</span>
						平台登录用户名
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="loginName" id="loginName" ng-model="record.loginName" placeholder="请输入登录用户名..."></div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="password">
						<span class="text-danger wrapper-sm">*</span>
						密码
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="password" id="password" ng-model="record.password" placeholder="请输入密码 默认111111..."></div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>

				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="code">
						<span class="text-danger wrapper-sm">*</span>
						工号
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="code" id="code" ng-model="record.code" placeholder="请输入工号..."></div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="email">
						<span class="text-danger wrapper-sm">*</span>
						email
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="email" id="email" ng-model="record.email" placeholder="请输入email..."></div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="address">
						<span class="text-danger wrapper-sm">*</span>
						详细地址
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="address" id="address" ng-model="record.address" placeholder="请输入详细地址..."></div>
				</div>

				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="deptId">
						<span class="text-danger wrapper-sm">*</span>
						所属部门
					</label>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								
								<select name="deptId" id="deptId" class="form-control" ng-model="record.deptId"  ng-options="value.id-0 as value.ico+value.text for value in schooldept">
									<option value="">--选择--</option>
								</select>

							</div>
						</div>
						
						</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<!-- <div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="roleId">
						<span class="text-danger wrapper-sm">*</span>
						角色
					</label>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								
								<select name="roleId" id="roleId" class="form-control" ng-model="record.roleId" ng-options="value.id as value.roleName for value in role">
									<option value="">--选择--</option>
								</select>
				
							</div>
						</div>
						
						</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div> -->

				<div class="form-group">
					<label class="col-lg-2 col-sm-3 control-label" for="remark">
						<span class="text-danger wrapper-sm">*</span>
						简介
					</label>
					<div class="col-sm-6">
						<textarea name="remark" id="remark" class="form-control" ng-model="record.remark" rows="3" ></textarea>
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<!--btn-->
				<div class="form-group">
					<div class="col-sm-6 col-sm-offset-2">
						<button type="reset" class="btn btn-default w-xs">重置</button>
						<button type="submit" class="btn btn-info w-xs m-l-xl" >保存</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>